.block {
    display: flex;
    align-items: center;
}

.title {
    margin-right: 35px;
    font-size: 14px;
    line-height: 20px;
}

.btn {
    margin-right: 5px;
    width: 75px;
    height: 30px;
    background: #fff;
    font-size: 12px;
    line-height: 17px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;
}